In [256]:
from bs4 import BeautifulSoup
import requests
import os
import re
from splinter import Browser

<b>NASA Mars News</b>

In [288]:
url ="https://mars.nasa.gov/news/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

#print(soup.prettify())

In [41]:
news_title = soup.find('div', class_= 'content_title').text.strip()

news_p = soup.find('div', class_= 'rollover_description_inner').text.strip()

print(f'Latest news: {news_title} - {news_p}')

Latest news: Alabama High School Student Names NASA's Mars Helicopter - Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

<b>JPL Mars Space Images - Featured Image</b>

In [42]:
!which chromedriver

/usr/local/bin/chromedriver

In [100]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [47]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [75]:
fullimage_button = browser.find_by_id('full_image')
fullimage_button.click()

In [77]:
more_info_buttom = browser.click_link_by_partial_text('more info')

/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [88]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

figure = soup.find('figure', class_='lede')
print(figure)
print("----------------")

image_url = figure.a['href']
print(image_url)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA16884_hires.jpg"><img alt="The tip of the 'wing' of the Small Magellanic Cloud galaxy is dazzling in this new view from NASA's Great Observatories. The SMC, is a small galaxy about 200,000 light-years way that orbits our own Milky Way spiral galaxy." class="main_image" src="/spaceimages/images/largesize/PIA16884_hires.jpg" title="The tip of the 'wing' of the Small Magellanic Cloud galaxy is dazzling in this new view from NASA's Great Observatories. The SMC, is a small galaxy about 200,000 light-years way that orbits our own Milky Way spiral galaxy."/></a>
</figure>
----------------
/spaceimages/images/largesize/PIA16884_hires.jpg

In [89]:
featured_image_url = f'https://www.jpl.nasa.gov{image_url}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16884_hires.jpg

<b>Mars Weather</b>

In [289]:
url = "https://twitter.com/marswxreport?lang=en"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser") 
#print(soup.prettify())

In [138]:
tweet = soup.find_all('div', class_="js-tweet-text-container")[0]
for p in tweet.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"):
    mars_weather = p.text
    print(f'Latest Mars weather tweet: {mars_weather}')

Latest Mars weather tweet: InSight sol 507 (2020-04-30) low -92.1ºC (-133.7ºF) high -2.4ºC (27.7ºF)
winds from the SW at 5.0 m/s (11.1 mph) gusting to 18.2 m/s (40.6 mph)
pressure at 6.80 hPapic.twitter.com/9r6bzUkPsL

   <b>Mars Facts</b>

In [140]:
import pandas as pd

In [152]:
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [153]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [158]:
df.columns = ['Mars Info', 'Values']
df.head()

              Mars Info                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [159]:
df.set_index('Mars Info', inplace = True)
df.head()

                                             Values
Mars Info
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [162]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Mars Info</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [164]:
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Mars Info</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [352]:
df.to_html('mars_table.html')
!open mars_table.html

<b>Mars Hemispheres</b>

In [348]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [349]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [350]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
#print(soup.prettify())

In [351]:
items = soup.find_all('div', class_='item')

base_url = "https://astrogeology.usgs.gov"

hemisphere_image_urls = []

for item in items:
    href = item.find('a').get('href')
    title = item.find('h3').text
    title = title.replace('Enhanced', '')
    
    hemisphere_page = base_url + href
    browser.visit(hemisphere_page)
    html_2 = browser.html
    soup = BeautifulSoup(html_2, "html.parser")
    
    download = soup.find('div', class_ = 'downloads')
    img_url = download.find('a')['href']
    
    dict = {"title": title, "img_url": img_url}
    hemisphere_image_urls.append(dict)

print(f'hemisphere_image_urls = {hemisphere_image_urls}')

hemisphere_image_urls = [{'title': 'Cerberus Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]